<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You need to return the book</h1>
    <p>
      You need to return <%= @book.title %> today.
      If you want to read more, you can request to borrow it again.<br>
    </p>
    <p>Thanks for borrowing and have a great day!</p>
  </body>
</html>
