<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please return your borrowing book</h1>
    <p>
      Your borrowing book, <%= @book.title %> is overdue.
      You need to return the book as soon as possible.
      If you want to read more, you can request to borrow it again.<br>
    </p>
    <p>Thanks for borrowing and have a great day!</p>
  </body>
</html>
