<h1>Book-manager</h1>

<%= form_tag('/books/create') do %>
  <p>タイトル</p>
  <textarea name="title"></textarea>
  <br>
  <p>感想</p>
  <textarea name="description"></textarea>
  <input type="submit">
<% end %>

<%#= form_for(@book) do |f| %>
  <%#= f.label :title %>
  <%#= f.text_field :title %><br><br>
  <%#= f.label :description %>
  <%#= f.text_field :description %>

  <%#= f.submit "register", class: "btn btn-primary" %>
<%# end %>
