<h1> User detail</h1>
<div class="main posts-index">
  <div class="container">
    <table class="posts-index-item">
      <td width=50%> User name </td>
      <td width=50%> <%= @user.name %> </td>
    </table>

    <table class="posts-index-item">
      <td width=50%> Email </td>
      <td width=50%> <%= @user.email %></td>
      </table>
    <%= link_to("Logout", "/users/sign_out") %>
